html {
    font-family: "Meiryo", "sans-serif";
}

.diff-lvl-0 > .diff-left {
    color: limegreen;
}

.diff-lvl-0 > .diff-right {
    color: red;
}

span.tok-sep {
    color: grey;
}

.index-wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
}

ul.index-nav-list {
    list-style: none;
    position: sticky;
    top: 10px
}

div.summary-links > a {
    margin: 1px;
}